################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjektnaAsp/FileContentIndex/81fc18d6-3614-480f-a577-959556dbfeb1.vsidx
