################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjektnaAsp/FileContentIndex/81fc18d6-3614-480f-a577-959556dbfeb1.vsidx
/.vs/Zaliczenie/FileContentIndex/3b0b7437-3226-42be-a4c0-18d2ede5479f.vsidx
*.vsidx
